<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="SQAppDev_DevOps" value="https://pkgs.dev.azure.com/sqappdev/_packaging/AppDevNuget/nuget/v3/index.json" />
  </packageSources>
  <!--<apikeys>
    This did not work.  It gave me a 401 unauthorized message.
    <add key="https://pkgs.dev.azure.com/sqappdev/_packaging/AppDevNuget/nuget/v3/index.json" value="{PAT}" />
  </apikeys>-->
  <packageSourceCredentials>
    <SQAppDev_DevOps>
      <!-- Using Personal Access Tokens (PAT) in azure devops a username is not needed, but you simply pass in any string for this value so it does get ignored. -->
      <add key="Username" value="unused"/>
      <!-- Key = Password indicates an encrypted password which a non windows client cannot use (linux container).  Use ClearTextPassword to send in the personal access token. -->
      <add key="ClearTextPassword" value="__NUGET_PAT__"/>
    </SQAppDev_DevOps>
  </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>